<!DOCTYPE html>
<html>
  <head>
    <title>在线工具</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script type="text/javascript">
      function onClick(pId){
        var gameNum = document.getElementById("gameNum").value
        window.location.href = "?gameNum="+gameNum+"&id="+pId;
      }
    </script>
  </head>
  <body>
    <h1>在线工具</h1>
    <p>缺少资源：1.三个场次的背景以及内部装饰（已收到），2. 9宫格图案以及动画（没有动画），3.累积奖池详细信息弹框，4.帮助界面，5.音效, 6.普通场的幸运奖</p>
    <p>缺少网络接口：1.0x4C3C 选场界面的个人信息（等级，头像，经验），2.0x4C30 获取场桌的详细信息 3.累积奖列表(累积奖池详细信息弹框里需要)，4.日历接口，5.球员评价,6.0x4C39 选场选桌，不生效<p>

    <p style="color: red;font-weight: bold;">近期工作安排：1.幸运奖两个版本流程显示积分，2.中奖视频回放功能（排行榜），3.保存视频功能</p>
    <p>Game <input type="text" name="gameNum" id="gameNum" value="<%= gameNum %>" style="width:30px;text-align:center;font-size:20px">:</p>
    <button style="width:150px;height:30px;" onclick="onClick(1)">copy csb</button>
    <button style="width:150px;height:30px;" onclick="onClick(2)">copy animation</button>
    <button style="width:150px;height:30px;" onclick="onClick(14)">copy 9宫格动画</button>
    
    <br></br>
    <p>手机调试功能:</p>
    <button style="width:150px;height:30px;" onclick="onClick(3)">logcat</button>
    <button style="width:150px;height:30px;" onclick="onClick(4)">do package</button>
    <button style="width:150px;height:30px;" onclick="onClick(5)">open adb shell</button>
    <button style="width:150px;height:30px;" onclick="onClick(6)">copy cocos to phone</button>
    <button style="width:150px;height:30px;" onclick="onClick(7)">copy res to phone</button>
    <button style="width:150px;height:30px;" onclick="onClick(8)">copy src to phone</button>
    <br></br>
    <button style="width:150px;height:30px;" onclick="onClick(15)">install android apk</button>
    
    <br></br>
    <p>网络错误文件：</p>
    <button style="width:200;height:50px;" onclick="onClick(13)">一键更新 PopupNetLayer</button>


    <p>game7_20160824:</p>

    <button style="width:150px;height:30px;" onclick="onClick(12)">copy csb</button>
    <br></br>
    <button style="width:150px;height:30px;" onclick="onClick(9)">copy cocos to phone</button>
    <button style="width:150px;height:30px;" onclick="onClick(10)">copy res to phone</button>
    <button style="width:150px;height:30px;" onclick="onClick(11)">copy src to phone</button>

    <div id="text"><%= text %></div>
  </body>
</html>
